In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

In [18]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/vasavdave/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

# Visit NASA mars news site

In [3]:
browser.visit('https://redplanetscience.com')
time.sleep(2)

In [4]:
# Create BeautifulSoup Object and parse with HTML

html = browser.html
news_soup = bs(html, 'html.parser')

In [5]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = news_soup.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'"

In [6]:
# Use the parent element to find the paragraph text
news_p = news_soup.find('div', class_="article_teaser_body").get_text()
news_p

'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'

# JPL Mars Space Images - Featured Image

In [7]:
#Visit URL
image_url = 'https://spaceimages-mars.com'
browser.visit(image_url)
time.sleep(2)

In [8]:
# Find and click the full image button
browser.links.find_by_partial_text('FULL IMAGE').click()

In [9]:
# Parse the resulting html with soup
html = browser.html
img_soup = bs(html, 'html.parser')

In [10]:
relative_image_path = img_soup.find('img', class_='fancybox-image')['src']
featured_image_url = image_url + relative_image_path
featured_image_url

'https://spaceimages-mars.comimage/featured/mars3.jpg'

# Mars Facts

In [11]:
df_facts = pd.read_html('https://galaxyfacts-mars.com',header=0)[0]
df_facts.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [12]:
df_facts.set_index('Mars - Earth Comparison', inplace=True)
df_facts

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
df_facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [23]:

url = 'https://marshemispheres.com'
browser.visit(url)
time.sleep(2)

In [24]:
# Create BeautifulSoup Object and parse with HTML

html = browser.html
hems_soup = bs(html, 'html.parser')

In [29]:
results = hems_soup.find_all('h3')[0:-1]

hemisphere_image_urls = []

for result in results:
    titles = result.text
    browser.links.find_by_partial_text(titles).click()
    
    html_en = browser.html
    soup_en = bs(html_en, 'html.parser')
    
    title = soup_en.find('h2', class_='title').text.replace("Enhanced","").strip()
    
    sample = soup_en.find('li')
    imgurl = sample.find('a')['href']
    imgurl = url + imgurl
    
    hemisphere_dict = {"title" : title, "img_url" : imgurl}
    hemisphere_image_urls.append(hemisphere_dict)
    
    browser.links.find_by_partial_text('Back').click()

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.comimages/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.comimages/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.comimages/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.comimages/valles_marineris_enhanced-full.jpg'}]

In [ ]:
browser.quit()